<%- include('header') -%>

<!-- Content -->
<div id="search">
  <div class="container_small">
    <label for="searchTitle"><b>Search by title</b></label>
    <input type="text" name="searchTitle" id="searchTitle">
    <br><br>
    <label for="searchGenre"><b>Search by genre</b></label>
    <select name="searchGenre" id="searchGenre">
      <option value="0">-- ANY --</option>
    </select>
    <br><br>
    <button id="searchBtn">search</button>
  </div>
</div>

<div class="row">
    <% for (let i=0; i<20; i++) { %>
        <div class="column">
            <div class="card">
                <img id="imgPoster_<%= i %>">
                <br>
                <a id="title_<%= i %>"></a>
                <br>
                <p id="rating_<%= i %>"></p><p id="reviewers_<%= i %>"></p>
            </div>
        </div>
    <% } %>
</div>

<!-- References to external JS files -->
<script src="/static/js/home.js"></script>

<%- include('footer') -%>
